In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("titanic.csv")

In [55]:
index = 0
for person in df ["Name"]:
    if "Fannie" in person:
        break 
    index+= 1
df.loc[index]

PassengerId                            707.0
Survived                                 1.0
Pclass                                   2.0
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                    0.0
Parch                                    0.0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
df.loc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [10]:
df.at[5, 'Age'] = 28
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,50.0,0,0,330877,8.4583,NaN,Q

In [22]:
count = 0 
for i in range(0, len(df)):
    if(df.iloc[i]['Age'] > 18):
      count= count +1
print(count)

576

In [20]:
male = 0 
for j in range(0, len(df)):
    if(df.iloc[j]['Sex'] == 'male'):
      male= male +1
male

577

In [23]:
male = 0
for j in range(0, len(df)):
    if (df.iloc[j]['Sex'] == 'male'):
        male+=1
total = len(df)
percentage = male/total
percentage * 100

64.75869809203144

In [41]:
First = 0
Second = 0
Third = 0
for p in range(0,len (df)):
    if(df.iloc[p]['Pclass'] == 1):
     First+=1
    if(df.iloc[p]['Pclass'] == 2):
       Second+=1
    if(df.iloc[p]['Pclass'] == 3):
       Third+=1
print ("first class:" + str(First))
print ("second class:" + str (Second))
print ("third class:" + str (Third))

first class:216
second class:184
third class:491

In [39]:
class_counts = df['Pclass'].value_counts().sort_index()
for pclass in [1, 2, 3]:
    print(f"{pclass} class: {class_counts.get(pclass, 0)}")

1 class: 216
2 class: 184
3 class: 491

In [46]:
S = 0
Q = 0
C = 0 
for t in range (0, len (df)):
    if(df.iloc[t]['Embarked'] == S):
      S+=1 
    if(df.iloc[t]['Embarked'] == Q):
      Q+=1
    if(df.iloc[t]['Embarked'] == C):
      C+=1
    print (str + (S))
    print (str + (Q))
    print (str + (C))

TypeError: unsupported operand type(s) for +: 'type' and 'int'

In [47]:
df.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [51]:
df.at ['Name'] = Fannie

NameError: name 'Fannie' is not defined

In [52]:
df.iloc[706]

PassengerId                            707.0
Survived                                 1.0
Pclass                                   2.0
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                    0.0
Parch                                    0.0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object